extends ./pug/layout

block content
	<!-- START HEADER --> 
	header.header 
		.container 
			.header__inner 
				a.header__logo(href="#")
					img.logo(src="../images/logo.svg", alt="")
				.header__nav.nav
					a.nav__item.anchor(href="#products") Наши продукты
					a.nav__item.anchor(href="#values") Ценности Alif
					a.nav__item.anchor(href="#why-we") Почему мы?
					a.nav__item.nav__item--mob.anchor(href="https://aliftech.uz/ru" target="blank_") aliftech.uz
				a.nav__item.nav__item--site.anchor(href="https://aliftech.uz/ru" target="blank_") aliftech.uz
				.nav-btn
					.nav-btn__line
					.nav-btn__line
					.nav-btn__line
	<!-- END HEADER -->
	<!-- START FIRST SCREEN -->
	section.first-screen 
		.container 
			.first-screen__inner 
				.first-screen__content 
					.heading Alif Uzbekistan
					.first-screen__text 
						p.first-screen__text-first  Алиф — финтех компания, миссия которой заключается в предоставлении финансовых услуг, основанных на благих ценностях и информационных технологиях.
						p.first-screen__text-second Нашей целью является построение системы, которая повысит уровень жизни людей вокруг нашей экосистемы, расширяя их возможности в области финансов, технологий и образования.
					a.first-screen__btn-link(href="#") Перейти к вакансиям 
				img.first-screen__img(src="../images/first-screen.svg", alt="")
	<!-- END FIRST SCREEN -->

	<!-- START PRODUCTS -->
	section.products#products
		.container 
			.products__inner 
				.products__content 
					.heading Наши продукты 
					.products__content-text С командой из 100+ разработчиков, мы создали собственную автоматизированную банковскую систему (CBS), CRM, процессинговый центр, мобильный кошелек alif mobi, скоринговую систему, торговую площадку www.alifshop.uz и ряд других продуктов.
				.products__cards 
					.products__card
						img.products__card-logo(src="../images/products/shop-logo.svg", alt="")
						.products__card-text Онлайн маркетплейс
					.products__card
						img.products__card-logo(src="../images/products/delivery-logo.svg", alt="")
						.products__card-text Сервис доставки
					.products__card
						img.products__card-logo(src="../images/products/credits-logo.svg", alt="")
						.products__card-text Мониторинг рассрочек
					.products__card
						img.products__card-logo(src="../images/products/merchant-logo.svg", alt="")
						.products__card-text Обработка заявок
					.products__card
						img.products__card-logo(src="../images/products/nasiya-logo.svg", alt="")
						.products__card-text Личный кабинет
					.products__card
						img.products__card-logo(src="../images/products/mobi-logo.svg", alt="")
						.products__card-text Платёжная система
					.products__card
						img.products__card-logo(src="../images/products/compliance-logo.svg", alt="")
						.products__card-text Обработка заявок
					.products__card
						.products__card-text + более 10 проектов разного масштаба
	<!-- END PRODUCTS -->

	<!-- START SECTION VALUES -->
	.section.values.section--medium#values 
		.container 
			.heading Ценности Alif
			.values__inner 
				+values-card("images/values/values-1.png", "Я необычный", "Мы работаем на качество, а не количество.")
				+values-card("images/values/values-2.png", "Прогресс не бывает без ошибок", "Мы принимаем свои ошибки и стараемся больше их не повторять.")
				+values-card("images/values/values-3.png", "Я как Алиф!", "Быть честным, искренним и прямым, как буква «Алиф»")
				+values-card("images/values/values-4.png", "Алиф - мой", "Выполнять работу от чистого сердца.")
				+values-card("images/values/values-5.png", "Я владею над своими желаниями", "Дисциплина превыше всего.")
				+values-card("images/values/values-6.png", "Сегодня я лучше, чем вчера", "Делимся и получаем фидбэки, исправляем их и становимся лучше.")
				+values-card("images/values/values-7.png", "Я не безразличен", "Не говорим «Это не моя проблема/не моя работа». Всегда помогаем друг другу.")
	<!-- END SECTION VALUES -->

	<!-- START ABOUT -->
	section.about 
		.container 
			.about__cards 
				.about__card-one 
					img.about__card-img--one(src="../images/about/about-one.svg", alt="")
					.about__card-text Единственным учредителем является холдинговая компания Alif Capital Holdings LTD, находящаяся в Лондоне. В неё входят ряд компаний в Таджикистане — ОАО «Алиф Банк», www.alif.tj  и Узбекистане — ООО Alif Moliya, www.alifshop.uz, www.aliftech.uz.
				.about__card-two 
					.about__card-text ИП ООО Alif Tech является резидентом IT-Park-а в Узбекистане и получило лицензию платёжной организации от Центрального Банка РУз и лицензию передачи данных от МРИТИК.
				.about__card-three  
					img.about__card-img--three(src="../images/about/about-three.svg", alt="")
					.about__card-text Основной деятельностью компании Alif Tech является разработка ряда финтех-услуг, направленных на развитие продуктов рассрочки, электронной коммерции и платежей в Республике Узбекистан.
	<!-- END ABOUT -->

	<!-- START WHY-WE -->
	section.why-we#why-we 
		.container
			.heading Почему мы?
			.why-we__items
				.why-we__item
					img.why-we__item-img(src="../images/why-we/ww-icon-1.svg", alt="")
					.why-we__item-title Культура
					.why-we__item-text где можно расти и чувствовать себя комфортно
				.why-we__item
					img.why-we__item-img(src="../images/why-we/ww-icon-2.svg", alt="")
					.why-we__item-title Команда
					.why-we__item-text ориентированная на создание крутого продукта
				.why-we__item
					img.why-we__item-img(src="../images/why-we/ww-icon-3.svg", alt="")
					.why-we__item-title Оплачиваем
					.why-we__item-text участие в конференциях и курсах для прокачки скилов
				.why-we__item
					img.why-we__item-img(src="../images/why-we/ww-icon-4.svg", alt="")
					.why-we__item-title Комфортный офис
					.why-we__item-text со всеми условиями: игры, тимбилдинги и другие
	<!-- END WHY-WE -->

	<!-- START SWIPER -->
	section.gallery.short-pb 
		.swiper-container.gallery-slider(data-arrow-prev=".tmpl-hh__gallery-slider-arrow-prev" data-arrow-next=".tmpl-hh__gallery-slider-arrow-next")
			.swiper-wrapper
				.swiper-slide 
					+video("B7jY7rgJ-Ws", "/images/swiper-photo/video-img.jpg") 
				+slider-gallery-slide("/images/swiper-photo/photo-1.jpg")
				+slider-gallery-slide("/images/swiper-photo/photo-1.jpg")
				+slider-gallery-slide("/images/swiper-photo/photo-1.jpg")
				+slider-gallery-slide("/images/swiper-photo/photo-1.jpg")
		.container 
			.gallery-slider__pagination
				span.swiper-pagination-bullet
				span.swiper-pagination-bullet
				span.swiper-pagination-bullet
				span.swiper-pagination-bullet
				span.swiper-pagination-bullet
			.slider-arrows.gallery-slider-arrows
				.slider-arrow.slider-arrow--prev.gallery-slider-arrow-prev
					+icon("arrow-left", "slider-arrow__icon")
				.slider-arrow.slider-arrow--next.gallery-slider-arrow-next
					+icon("arrow-right", "slider-arrow__icon")
	<!-- END SWIPER -->